<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Клиент</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">

        <div class="card">

            <h1>{{ user['name'] }}</h1>

            <div class="client-info">

                <div class="info-block">
                    <span class="label">ID</span>
                    <p>{{ user['id'] }}</p>
                </div>

                <div class="info-block">
                    <span class="label">Рацион</span>
                    <p>{{ user['diet'] }}</p>
                </div>

                <div class="info-block">
                    <span class="label">Интервал</span>
                    <p>{{ user['time_interval'] }}</p>
                </div>

                <div class="info-block">
                    <span class="label">Адрес</span>
                    <p>{{ user['address'] }}</p>
                </div>

                <div class="info-block">
                    <span class="label">Телефон</span>

                    <a
                        href="tel:{{ user['Телефон'] }}"
                        class="phone-link"
                    >
                        {{ user['phone'] }}
                    </a>
                </div>

                <div class="info-block">
                    <span class="label">Комментарий</span>
                    <p>{{ user['comment'] }}</p>
                </div>

            </div>

            <a href="/search" class="button secondary">
                Назад
            </a>

        </div>

    </div>

</body>
</html>